/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: rgb(0, 0, 0);
}

*, ::after, ::before {
    box-sizing: border-box;
}

#exp {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    background-size:cover;
    position:relative;
    text-align: center;
}
/* spacing on all sections */
#about, #services,  #contact, #trips {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
}
#contact {
    padding-bottom: 4rem;
}

/* services section css */
.servicesText.card {
    height: 280px;
    height: 400px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;

}
/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.social-icons a {
    margin-right: 15px;
}
.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover {
    color: #008000;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
    background-color: #F8FAFD;
    text-align: center;
    overflow: hidden;
}

#link {
    color:white;
    text-decoration:none;
}

#link:hover {
    color: #41C697;
}

.navbar-brand {
    width: 180px;
    text-align: left;
    text-decoration:none;
    
}

.container-fluid {
    text-align: center;
    font-size: 30px;
}

#services, #contact {
    margin-top: 50px;
}

.container a {
    color:white;
}
.container a:hover {
    color:white;
}
.navbar {
    background-color: #000000;
}

#color {
    color: whitesmoke;
    /*text-shadow: 3px 2px 1px black;*/
    font-weight: bold;
    font-size: 22px;
}

#name {
    margin-top: 10px;
}

#title-3 {
    margin-bottom: 30px;
}

.mySlides {
    display: none;
    background-size: cover;
    height: 740px;
}

.mySlides img {
    object-fit: cover;
}

img, svg {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 72%;
    position: relative;
    margin: auto;
    object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    background-color: rgba(0,0,0,0.8);
    border: none;
    font-weight: bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
    text-decoration:none;
}

/* Position the "next button" to the right */
.next {
    right:0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: lightgray;
    color: black;
    border: none;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3) */
.numbertext {
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 10px;
}

.active:last-child, .dot:hover {
    background-color: #717171;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 2}

  }

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px
    }
}
.nav-link:not(last-child) {
    margin-right: 5px;
}


#about {
    background-color: #F8FAFD;
    border-radius: 14px;
    margin-left: 50px;
    margin-right: 50px;
}

h1, h2, a, #home-text, #copy, #mail, #form input::placeholder, #form div textarea::placeholder, #form button {
    font-family: 'Bebas Neue';
}

#trips {
    background-color: #F8FAFD;
    border-radius: 14px;
    margin-left: 50px;
    margin-right: 50px;
}
/*
h1, h2{
    font-family: "Gordita Medium"; 
}
*/
footer a {
    color: #000000;
    text-decoration:none;
    font-size: 20px;
    font-weight:bold;
}

 form {
    text-align: center;
}

#contact input {
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}

#contact div {
    margin-left: auto;
    margin-right: auto;

}
#contact form div{
    margin-left: auto;
    margin-right: auto;
    width: 40em;
}
#contact p {
    margin-top: 7px;
}


@media (min-width:320px) and (max-width:768px){
    .mySlides {
        width: 100%;
        height: 275px;
        object-fit: cover;
    }
    .slideshow-container {
        max-width: 100%;
    }
    #color {
        font-size: 19px;
    }
    #contact form div{
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
    #contact input {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
    footer a{
        font-size: 18px;
    }
    #about, #trips {
        background-color: #F8FAFD;
        border-radius: 12px;
        margin-left: 15px;
        margin-right: 15px;
    }
    #contact iframe {
        width: 250px;
        height: 350px;
    }
    #exp {
        width: 300px;
    }
    .navbar-brand {
        width: 150px;
    }
    #home #home-name {
        font-size: 40px;
        margin-left: 0;
        margin-top: 25px;
    }
    #home #home-exp {
        font-size: 23px;
        margin-bottom: 20px;
    }
    #home #home-text {
        font-size: 23px;
        text-align: left;
        margin-left: 0;
    
    }
    .block {
        max-width: 200px;
        margin-bottom: 10%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    #exp {
        width: 650px;
    }
    #form-table {
        order:1;
    }
    #twt-table {
        order:2;
        width: 375px;
    }
    #contact {
        margin-top: 2rem;
        padding-top: 2.5rem;
    }
    #text-style {
        font-size: 12px;
    }
    .prev, .next {
        font-size: 14px;
    }
    .rightside {
        background: url(images/main-hero.jpg) center center;
        background-size:auto;
    }
    .numbertext {
        font-size: 14px;
    }
    .prev, .next {
        font-size: 12px;
    }
}

#exp ul li, p{
    font-size: 18px;
}

@media (min-width: 576px ) and (max-width: 768px) {
    #home #home-name {
        font-size: 28px;
        margin-bottom: 5px;
    }
    #home #home-exp {
        font-size: 25px;
        margin-bottom: 10px;
    }
    #home #home-text {
        font-size: 16px;
        text-align: left;
        margin-left: 3%;
    }
    .block {
        max-width: 100px;
        margin-bottom: 20%;
        margin-left: auto;
        margin-right: auto;
    }
    #contact form div{
        margin-left: auto;
        margin-right: auto;
        width: 450px;
    }
    #contact input {
        margin-left: auto;
        margin-right: auto;
        width: 450px;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    #form-table {
        order:1;
    }
    #twt-table {
        order:2;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    }
    #contact form div{
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }
    #contact input {
        margin-left: auto;
        margin-right: auto;
        width: 500px;
    }
}

@media (min-width: 768px) and (max-width: 1366px){
    .slideshow-container {
        width: 72%;
        margin: auto;
    }
    
    .mySlides {
        height: 415px;
        width: 100%;
        object-fit: cover;
    }
    #contact h1 {
        margin-bottom: 30px;
    }
    .prev, .next {
        font-size: 18px;
    }

    #about, #services,  #contact, #trips {
        margin-top: 1.3rem;
        padding-top: 2.2rem;
    }
    .navbar-brand {
        width: 180px;
        text-align: left;
        text-decoration:none;
    }
    #contact{
        margin-top: 4rem;
        padding-top: 4rem;
    }
    #home .block #home-name {
        font-size: 47px;
        margin-left: 15px;
        margin-top: 40px;
    }
    #home .block #home-exp {
        font-size: 40px
    }
    #home .block #home-text {
        font-size: 26px;
        margin-left: 15px;
    }
    #home .block #home-stats {
        font-size: 15px;
    }
    #exp {
        width: 800px;
    }
    #color {
        font-weight: bold;
        font-size: 20px;
    }
}

#logos {
    margin-top: 4rem;
    padding-top: 4rem; 
    margin-bottom: 5rem;
    padding-bottom: 5rem;
}

.leftside, .rightside {
    height: 50vh;
    width: 100%;

}
@media screen and (min-width:768px) {
    .leftside, .rightside {
        height: 100vh;
    }
}

.leftside {
    background: black;
    background-size:cover;
    color: white;
    display: flex;
    overflow: hidden;
}

.rightside {
    background: url(images/main-hero.jpg) top center;
    background-size:cover;
    overflow: hidden;
}
.block {
    max-width: 550px;
    height: 30%;
    margin-right: 10%;
    margin-left: 15%;
}
.block #home-name {
    font-size: 50px;
    margin-top: 40px;
}
.block #home-exp {
    font-size: 42px;
    margin-bottom: 15px;
}
.block #home-text {
    font-size: 30px;
    text-align: left;
    margin-top: 10px;
}

#btn-back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    display: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    scroll-behavior: smooth;
}
#btn-back-to-top:hover, #btn-back-to-top:focus {
    background-color: black;
    color: white;
}

.btnEntrance {
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: btnEntrance;
}
@keyframes btnEntrance {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}
.btnExit {
    animation-duration: 0.25s;
    animation-fill-mode: both;  
    animation-name: btnExit;
}
@keyframes btnExit {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
}

body {
    font-family: Bebas Neue;
}